@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
 /*------------------------------------------------------
 #Generale
 imposto colori per il path ./ e la scroll mode
 ------------------------------------------------*/
 
 :root{
     scroll-behavior: smooth;
     --primary: #4154f1;
     --second: #717ff5;
     --bgColor: #f6f9ff;
 
 }
 
 /*------------------------------------------------------
 #imposto margini e padding a 0 per tutto il container
 ------------------------------------------------*/
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-style: normal;
 }
 /*------------------------------------------------------
 #imposto il font del body e il colore del bg
 ------------------------------------------------*/
 body{
 
   font-family: 'Open Sans', sans-serif;
   color: #444444;
   background: var(--bgColor);
 
 }
 
 a {
 
 color: var(--primary);
 text-decoration: none;
 cursor: pointer;
 
 }
 
 a:hover {
   color: var(--second);
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Nunito' , sans-serif;
 
 
 }
 html, body {
   height: 100%;
 }
 
 #root {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }
